* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.cabezero_2 {
    display: none;
}

#usuarios_registrados2 {
    display: block;
}

#slogan2mediaquri {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

/*botones*/
button {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0.6em;
    border: 0px solid black;

}

button:hover {
    background-color: #757575;
}

/*secciones*/
.seccion {
    background-color: white;
    position: relative;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1em;
    padding-right: 1em;
}

.palabras_h1 h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0 auto;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin-bottom: 4px;
    border-radius: 50px;
}

.menu {
    display: none;
}

.menu.open {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.seccion img {
    padding-top: 1em;
    max-width: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.texto_geinz p {
    font-family: 'Bebas Neue', sans-serif;
}

.texto h1 {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}



/*productos-geinz*/
.listaimg_pro img {
    width: 100vw;
    max-width: 500px;
}

#productoslistas {
    transition: transform 0.5s ease;
}

.padrelistaimg {
    overflow: hidden;
}

.listaimg {
    display: flex;
}



/*presnetacion*/
.sobregeinz {
    margin: 1em;
}

.sobregeinz h1 {
    padding-top: 1em;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.sobregeinz p {
    text-align: center;
    margin: 2em;

}

.sobregeinz img {
    padding-top: 1em;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 3em;
}





/*Productos*/
.productos {
    width: 100%;
    height: auto;
    padding-bottom: 3em;
    position: relative;
    overflow: hidden;

}

.productopadre {
    padding: 0em 1em;

}

.producto {
    position: relative;
}

.productos h1,
.deporte h1 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    padding: 1em 0em 0em 0.6em;

}

.contanedor_productos ul,
.contanedor_deporte ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.producto_lista {
    padding: 2em 0em;

}

ul {
    list-style: none;
}

#product-list,
#product-list-deporte {
    display: flex;
    transition: transform 0.5s ease;
}


.general_containerjs {
    padding: 1em 1em;
}


.producto h3 {
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100%;
}

.producto p {
    font-size: 0.9em;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

.stock {
    color: green;
    position: absolute;
    bottom: 3.5em;
    right: 0;


}

.categoriasss {
    color: black;
    font-size: 0.9em;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;

}

.producto_novedades {
    padding: 2em 0em;
}

.producto button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 2em;
    font-size: 0.9em;
}

.producto-imagen {
    width: 60vw;
    max-width: 300px;
}

.producto-titulo {
    color: black;
    font-size: 1em;

}


/* deporte */
.deporte{
    padding-bottom: 5em;
}


/* botom deporte */
.botonjs-deporte,
.botonjs {
    position: relative;
    width: 100%;
    height: 50px;

}

.cirlulo-boton-deporte,
.cirlulo-boton {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #757575;
    right: 0;
    margin-right: .5em;
    transition: background-color 0.6s ease;
}

.cirlulo-boton-deporte:hover,
.cirlulo-boton:hover {
    background-color: black;
    color: white;
}



/*linea*/
.linea {
    background-color: black;
    height: 3px;
    max-width: 8em;
    margin: 0em 1em;
    border-radius: 10px;
}

.video-logo {
    margin: 1em 1em;
    display: flex;
    justify-content: center;

}



/* img-unete */
.img-unete img {
    width: 100vw;
    min-width: 200px;
}

/*crear cuenta*/
.crear_cuenta {
    position: relative;
    height: 200px;
    width: 100%;
}

.crear_cuenta p {
    position: absolute;
    left: 50%;
    top: 3em;
    transform: translate(-50%, 0%);
    width: 80vw;
    text-align: center;
    font-size: 1em;
    font-family: 'Bebas Neue', sans-serif;
}

.botones {
    position: absolute;
    left: 50%;
    top: 6em;
    transform: translate(-50%, 0%);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2em;


}

.botones a {
    padding: 0em 1em;
}

.botones button {
    padding: 1em;
    font-size: 0.7em;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 40px;
}

/*usuarios registrados*/
.fondo-registrado {
    background-color: black;
    height: 300px;

}

.paalbras {
    color: white;
    text-align: center;
    padding-top: 4em;
    font-family: 'Bebas Neue', sans-serif;
}

.flex {
    margin: 1em 2em;
}

#progress2 {
    color: white;
    text-align: center;
    padding-top: 1em;
}

#progress2 span {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;
    color: wheat;
}

#progress2 h2 {
    font-family: 'Bebas Neue', sans-serif;
}


/*footer*/
.fondogeneral {
    height: 60vh;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}

.title-footer h1 {
    font-family: sans-serif;
    font-size: 300%;
    padding-left: .1em;
}

.title-footer p {
    font-family: sans-serif;
    font-size: 120%;
    padding-left: .5em;
}

.enlaces {
    padding-top: 1em;
}

.enlaces p {
    padding-left: .5em;
    margin: 1em 0em;
    font-family: sans-serif;
    font-size: 100%;
}

.redescontenier {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-left: .5em;
    padding-top: .5em;
}

.redescontenier img {
    width: 30px;
}

.title-redes h1 {
    font-family: sans-serif;
    font-size: 100%;
    padding-left: .5em;
}

.copytigth {
    position: absolute;
    bottom: 2em;
    font-family: sans-serif;
    width: 100%;
}

.copytigth p {
    text-align: center;
    font-size: 80%;
}

@media screen and (min-width: 700px) {

    #usuarios_registrados2 {
        display: block;
    }

    .usuariosregistrados {
        display: none;
    }

    #slogan2mediaquri {
        display: block;
    }

    /*Slogan*/
    #colorfondo-scolgan {
        display: none;
    }

    /*slogan 2 */
    .fondoslogan2 {
        background-image: url(/img/cuarto-cuadros-modernos.jpg);
        background-color: rgba(0, 0, 0, 0.5);
        /* Un color negro semitransparente */
        background-blend-mode: multiply;
        /* Mezcla la imagen y el color de fondo */
        background-size: cover;
        background-position: center;
        height: 540px;
        max-width: 100%;
    }

    .h1fondoslogan h1 {
        padding-top: 5em;
        text-align: center;
        color: white;
        font-family: 'IBM Plex Sans Thai', sans-serif;
        font-size: 2em;

    }

    .fondoslogan2 p {
        padding-bottom: 7em;
        text-align: center;
        color: white;
        font-family: 'IBM Plex Sans Thai', sans-serif;
    }

    .fondoslogan2 button {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        background-color: transparent;
        font-size: 0.7em;
        border: 1px solid white;
        border-radius: 7px;
    }

    .bnejaminlopez {
        display: flex;
        justify-content: right;
        padding-top: 10em;
        padding-right: 5em;
        font-size: 0.5em;
        color: white;
        font-family: 'IBM Plex Sans Thai', sans-serif;
    }



    .cabezero_2 {
        display: block;

    }

    .seccion {
        display: none;
    }

    .general_foto_links img {
        max-width: 100px;
        padding-left: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .links {
        display: flex;
        float: right;
        justify-content: right;
        padding-top: 3em;
        padding-right: 1em;
    }

    .links a {
        text-decoration: none;

    }

    .links p {
        color: black;
        font-family: 'Bebas Neue', sans-serif;
        padding: 0em 1em;
    }

    .links p:hover {
        color: #9FA4AB;
    }

    .slogan button {
        padding: 1em 1em;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
    }

    .sobregeinz {
        display: flex;
        justify-content: center;
        padding: 3em 3em;
        width: auto;
        margin: 0 auto;
    }

    .texto_geinz {
        padding: 0em 2em 0em 0em;
    }

    .texto_geinz h1 {
        text-align: left;
        width: 229px;
        padding-bottom: 1em;


    }

    .texto_geinz p {
        color: #9FA4AB;
        text-align: left;
        max-width: 330px;
        margin: 0;
        font-family: 'Bebas Neue', sans-serif;
    }

    .sobregeinz img {
        margin: 0;
        width: 400px;
    }

    /*publicacion*/
    .publicacion {
        margin: 2em 3em;
    }

    .publicacion h1 {
        font-size: 2em;
        padding-top: 4em;
        font-family: 'Oswald', sans-serif;
    }

    .publicacion button {
        padding: 1.5em 3em;
    }


    /*crear cuenta*/
    .crear_cuenta p {
        font-size: 1em;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .botones button {
        padding: 1.5em 3em;
    }

    /*usuarios registrados 2 */
    .flex {
        display: flex;
        justify-content: center;
    }

    .fondo-registrado {
        background-color: black;
        height: 400px;
        width: 100%;
    }

    .paalbras {
        padding-top: 6em;
        padding-right: 10em;



    }

    .paalbras h1 {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2em;
    }

    .paalbras p {
        padding-top: 1em;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        width: 226px;

    }

    #progress2 h2 {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        height: 20px;

    }

    #currentNumber2 {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: wheat;
        font-size: 2em;
        font-family: 'Bebas Neue', sans-serif;
    }

    #progress2 {
        display: block;
        padding-top: 11em;
    }

}


@media screen and (min-width: 1500px) {

    .fondoslogan2 {
        background-image: url(/img/cuarto-cuadros-modernos.jpg);
        background-color: rgba(0, 0, 0, 0.5);
        /* Un color negro semitransparente */
        background-blend-mode: multiply;
        /* Mezcla la imagen y el color de fondo */
        background-size: cover;
        background-position: center;
        height: 800px;
        max-width: 100%;
    }

    .flex {
        padding-top: 3em;

    }

    .paalbras h1 {
        font-size: 4em;
    }

    .paalbras {
        padding-right: 30em;
        padding-top: 13em;
    }

    .paalbras p {
        font-size: 2em;
        width: 500px;
    }

    .fondo-registrado {
        height: 700px;
    }

    #progress2 span {
        font-size: 10em;
        font-family: 'Bebas Neue', sans-serif;
        color: wheat;
    }

    #progress2 h2 {
        font-size: 2em;
    }



    .publicacion {
        margin: 2em 9em;
    }

    .publicacion h1 {
        padding-top: 3em;
        font-size: 3em;
    }

    .publicacion {
        height: 541px;
    }


    .crear_cuenta p {
        font-size: 1em;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .redes img {
        max-width: 45px;
        padding: 0em 0.5em;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Agrega esta línea para centrar verticalmente */
        margin: 0 auto;
        height: 100vh;
        /* Establece la altura total del contenedor */
    }

    .video video {
        width: 50%;
        height: auto;
        /* Cambia height a auto para mantener la proporción del video */
        object-fit: cover;
    }
}